


* {
	color: #000;
	font-family: Roboto;
	font-weight: 300;
}


.cover {
	background-color: #eee;
	padding-bottom: 500px;
}

.header {
	background-color: #03A9F4;
	box-shadow: 0px 5px 15px 0px #999;
	height: 60px;	
	position: relative;
	z-index: 100;
}

.fa-bars {
	color: #000;
	padding-right: 20px;
	margin-top: 5px;
	font-size: 1.5em !important ;
}
/*
.logo {
	width: 140px;
	position: relative;
	top: -10px;
}*/

a:hover {
	text-decoration: none !important;
}

.company-name-header {
	font-size: 3em;
	color: #000;
	text-decoration: none;
	display: inline-block;
	margin-top: 0px;
	font-family: "Grand Hotel";
}

.text-header {
	font-family: Roboto;
	display: inline;
	font-size: 1.25em;
}

.add-survey-btn { 
	border-radius: 0px !important;
}

.plus-icon {
	padding-right: 5px;
}

.surveys {
	margin-top: 0em;
}

.survey {
	margin: auto;
    display: inline-block;
    margin-top: 2em;
}

.survey-name {
	color: black;
	background-color: #fff;
	text-align: center;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.125em;
	box-shadow: 0px 2px 4px 1px #ccc;
	position: relative;
	z-index: 40;



}



.survey-secondary {
	background-color: #fff;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 99%;
	margin: auto;
	border-top: none;
	box-shadow: 0px 2px 10px 1px #ccc;

}

.survey-secondary > :first-child {
	margin-top: 10px;

}

.live-icon, .data-icon, .edit-icon {
	padding-right: 5px;
	font-size: 1.3em !important;
	color: #0863DD;
}

/*.edit-icon:hover, .edit-icon-txt:hover {
	color: #77CBF4;
}*/

.survey-secondary p:hover {
	color: #0863DD;
	font-weight: 400;

}

.log-out-icon, .settings-icon, .add-survey-icon {
	color: black ;
	padding-right: 7.5px;
}




nav {
	margin-top: 10px;
}

.dropdown-toggle {
  padding: .5em 1em;
  border-radius: .2em .2em 0 0;
}

ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: .5em;
  margin-left: -6em;
  z-index: 60;
  background: #03A9F4;
  min-width: 12em;
  padding: 0;
  border-radius: 0 0 .2em .2em;
  box-shadow: 0px 4px 5px 1px #999;

}
ul.dropdown li {
  list-style-type: none;

}
ul.dropdown li a {
  text-decoration: none;
  padding: .4em .5em;
  display: block;
  color: black !important;
}

ul.dropdown li a:hover {
	background-color: #77CBF4;
}
  















/* Filter buttons */
button {
	background-color: #d7d7d7;
	border: none;
	padding: 3px 10px 4px 10px;
	border-radius: 4px;
	color: #333;
	font-family: 'Karla', sans-serif;
	font-size: 100%;}

button:hover, button.active {
	background-color: #00cccc;
	color: #fff;
	cursor: pointer;}


/* Table styles */
table {
	margin: 0px auto;
	width: 780px;}
table#rates	{width: 380px;}
th, td {
	border-radius: 3px;
	color: #333;
	padding: 7px 10px 5px 10px;
	min-width: 9em;
	text-align: left;}
th {
	background-color: #d7d7d7;
	font-weight: bold;
	text-transform: uppercase;}
td {
	background-color: #fff;}
table.sortable th:hover {
	cursor: pointer;}
th.ascending, th.descending, table.sortable th:hover {
	background-color: #03A9F4;
	color: #fff;}

/* Arrows for table sorting */
th.ascending:after {
	font-size: 60%;
    content: '\25B2';
    float: left;
	padding: 4px 5px 0px 0px;}
th.descending:after {
	font-size: 60%;
    content: '\25BC';
    float: left;
	padding: 4px 5px 0px 0px;}



















