/**ME **/
*{
  margin:0;
  padding:0;
  font-family:calibri, arial;
}
fieldset{
  border:0;
}
.clear{
  clear:both;
}
html{
  height:100%;
}
body{
  height:100%;
  background-color:#282828;
}
.topLabel{
  padding-top:30px;
}
#background{
  min-height:100%;
background: #3f3f3f; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #3f3f3f 0%, #282828 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3f3f3f), color-stop(100%,#282828)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #3f3f3f 0%,#282828 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #3f3f3f 0%,#282828 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #3f3f3f 0%,#282828 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #3f3f3f 0%,#282828 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#282828',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
header{
  display:block;
  width:640px;
  background-color:#fff;
  margin:0;
  padding:10px;
  margin:auto;

  background-color:#222;
  color:#fff;
  height:45px;
}
header h2{
 padding-bottom:5px;
 font-weight:normal;
 font-size:22pt;
  float:left;
  width:250px;
}
header div{
  color:#ccc;
  font-size:12pt;
  float:left;
   width:380px;
}

#overflow{
  width:660px;
  height:210px;
  margin:auto;
  overflow:hidden;
}
ul{list-style-type:none;}
.part{
  display:block;
  width:640px;
  height:1200px;
  background-color:#fff;
  padding:10px;
  float:left;
}
#part1 li{
  display:block;
  float:left;
}
#part1 li#form-field-1{
  width:425px;
}
#part1 li#form-field-1 span{
  display:block;
  width:400px;
  padding:5px;
  margin-bottom:10px;
  background-color:#dfdfdf;
  border-radius:10px;
  text-align:center;
  cursor:pointer;
}
#part1 li#form-field-1 span *{
    cursor:pointer;
}
#part1 li#form-field-1 span:hover{
  background-color:#333;
  color:#fff;
  font-weight:bold;
}
#form-field-1 input{
  display:none;
}
#part1 li#form-field-1 span.active, #part1 li#form-field-1 span.active:hover{
  background-color:#c43926;
  color:#fff;
  font-weight:bold;
}

legend{
  display:block;
  width:200px;
  font-size:16pt;
  padding-bottom:5px;
  margin-bottom:10px;
  color:#d54a37;
}



#part1 li#form-field-2{
  width:400px;
  padding-left:10px;
  border-left:1px solid #ccc;
  height:190px
}
#form-field-2 label.desc{
  display:block;
  font-size:16pt;
  margin-bottom:15px;
  color:#d54a37;
}
.relative{
  position:relative;
}
#form-field-2 input{
  width:100px;
  height:25px;
  background-color:#fdfdfd;
  border:1px solid #cfcfcf;
  font-size:14pt;
}
#form-field-2 .relative{
  margin-left:30px;
  margin-top:40px;
  font-size:14pt;
}
#form-field-2 span.dolls label{
  display:block;
  position:absolute;
  left:14px;
  color:#666;
}
#form-field-2 span.cents label{
  display:block;
  position:absolute;
  left:130px;
  color:#666;
}
#form-field-2 span.dolls input{
  width:100px;
  text-align:right;
}
#form-field-2 span.cents input{
  width:50px;
}
footer{
  display:block;
  width:660px;
  margin:auto;
  background-color:#222;


  height:20px;
}
#steps{
  width:640px;
  position:relative;
  margin:auto;
  padding:5px 10px;
  background-color:#ddd;
  color:#333;
  font-size:12pt;
}

#error{
  display:none;
  width:640px;
  position:relative;
  margin:auto;
  padding:5px 10px;
  background-color:#d54a37;
  color:#fff;
  font-size:14pt;
}

#steps strong,#steps span{
  color:#d54a37;
}
#choice{
  width:660px;
  position:relative;
  height:50px;
  margin:auto;
  background-color:#ddd;
  clear:both;
}
#choice strong.next{
  display:block;
  position:absolute;
  top:10px;
  left:540px;
  background-color:#d54a37;
  width:110px;
  height:30px;
  line-height:30px;
  font-size:14pt;
  text-align:center;
  color:#fff;
  border-radius:5px;
  font-weight:normal;
  cursor:pointer;
}
#choice strong.next:hover{
  background-color:#c43926;
}

#slider{
  width:7000px;
}

#title3{
  display:block;
  font-size:16pt;
  padding-bottom:5px;
  margin-bottom:10px;
  color:#d54a37;
}
#part2 .swq{
  padding:5px;
  border-bottom:1px solid #ccc;
  height:68px;
}
#part2 .swq:last-child{
  border-bottom:0;
}
#part2 .swq span{
  display:block;
  float:left;
  width:120px;
  margin-right:15px;
  padding:5px;
  margin-bottom:10px;
  background-color:#dfdfdf;
  border-radius:10px;
  text-align:center;
  cursor:pointer;
}
#part2 .swq span *{
    cursor:pointer;
}
#part2 .swq span input{
  display:none;
}
#part2 .swq span:hover{
  background-color:#333;
  color:#fff;
  font-weight:bold;
}

#part2 .swq strong{
  display:block;
  clear:both;
  margin-bottom:10px;
}

#part2 .swq span.active, #part2 .swq span.active:hover{
  background-color:#c43926;
  color:#fff;
  font-weight:bold;
}






#part3 #title104{
  display:block;
  font-size:16pt;
  padding-bottom:5px;
  margin-bottom:10px;
  color:#d54a37;
}
#part3 select{
  display:block;
  width:400px;
  height:50px;
  font-size:16pt;
  margin-left:50px;
  margin-top:20px;
}
#part4 input{
  display:block;
  width:400px;
  height:40px;
  font-size:16pt;
  margin-left:50px;
  margin-top:20px;
}
#part4 #title107{
  display:block;
  font-size:16pt;
  padding-bottom:5px;
  margin-bottom:10px;
  color:#d54a37;
}
#slider{
}

#part5 #title108{
  display:block;
  font-size:16pt;
  padding-bottom:5px;
  margin-bottom:10px;
  color:#d54a37;
  font-weight:normal;
}
#part5 label.desc{
  display:block;
  font-size:14pt;
  padding-bottom:5px;
}
#part5 #form-field-7{
  position:relative;
}
#part5 input{
  width:150px;
  height:20px;
}
#part5 #form-field-7{
  position:relative;
  height:80px;
  word-spacing:20px;
}
#part5 #form-field-7 span label{
  display:block;
  position:absolute;
  left:0;
}
#part5 #form-field-7 span:last-child label{
  left:180px;
}
#part5 #form-field-8{
  float:left;
  width:180px;
}
#part5 input{
  border:0;
border-bottom:1px dotted #000;
}
#saveForm{
  display:none;
}
input{
  color:#333;
}


#part6 h3{
  display:block;
  font-size:16pt;
  padding-bottom:5px;
  margin-bottom:10px;
  color:#d54a37;
  font-weight:normal;
  text-align:center;
  font-size:24pt;
  padding-top:65px;
}