$font-stack: Karla, sans-serif, Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #569;


// SCSS MIX INS FOR VENDOR PREFIXES

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}




* {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  text-shadow: none;
}




//____________welcome page_______________

#enter {
  background-image: url("../img/toast.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px;
}

.intro {
  padding: 15px;
  font-size: 2.5em !important;
  color: black !important;
  text-align: center;
  background-color: rgba(250, 250, 250 , .5 );

}

.btn-enter a {
  color: white !important;
  text-decoration: none;
  padding: 40px;
  font-size: 2.5em;
  @include border-radius(3px);
  background-color: transparent;
  border: 3px solid white;
  text-align: center;
}

.btn-enter {
  margin: 100px 200px;
}



.btn-finish {
  padding: 30px 60px 30px 60px;
  border-radius: 0px;
  font-size: 1.5em;
  background-color: $secondary-color;
  text-decoration: none;
  @include border-radius(3px);
  border-color: $secondary-color;
  color: white !important;
  border-radius: 3px;
  margin-top: 35px;
  margin-bottom: 20px;
}

//____________survey top bar_______________

.status {
  font-size: 0;
  width: 100%;
  box-shadow: 0px 5px 5px 5px #aaa;
}

.col {
  font-size: 2rem; 
  background-color: $secondary-color;
  display: inline-block;
  text-align: center;
  padding: 20px 0 20px 0;
  font-weight: 600; 
  color: #eee;
}

.gold {
  font-size: 1.1em !important;
}

.active {
  color: #F4BE26;
}


//____________nav arrows_______________


.fa-arrow-right {
  font-size: 3em !important;
  display: inline-block;
  color: $secondary-color;
  padding: 40px 40px 40px 80px;
}

.fa-arrow-left {
  font-size: 3em !important;
  display: inline-block;
  color: $secondary-color;
  padding: 40px 80px 40px 40px;
}


//____________question contain_______________



.question-container {
  margin-top: 15px;
  max-height: 200px;
  min-height: 200px;
}

.question-container p {
  font-size: 2em;
}

.question {
  margin-bottom: 30px;
}



//____________1-5 scale question styles_______________

.scale {
  padding: 20px 65px 20px 65px !important; 
  margin-top: 10px !important;
}

.scale-container {
    margin-left: 4% !important;
}

.ui-btn-active {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important; 
}


//____________yes/no question styles_______________

.ui-radio-on:after {
  border-color: $secondary-color !important;
  background-color: #eee !important;
}

//____________enter email styles_______________


label[for=email] {
  margin-top: 20px !important;
  font-size: 1.5em !important;
}


input[name=email] {
  padding: 20px !important;
}

//____________survey footer styles_______________

.error {
  @include border-radius(3px);
  border-color: #B82000;
}

.error-msg {
  color: #B82000;
}

.fa-exclamation-triangle {
  padding-right: 10px;
}


